*{ margin: 0; padding: 0; box-sizing: border-box; }
input:focus, button:focus{ outline: 0 }

body{
    font-family: 'Poppins';
    background-color : hsl(207, 60%, 88%);
}
h2{
text-align: center;
font-size: 23px;
padding: 10px 20px;
color: #fff;
background-color: #149dc7;
border-radius: 10px;
}
#chat-wrap{
max-width: 600px;
margin: 20px auto;
border: 1px solid #ccc;
border-radius: 20px;
}
#chat-window{
height: 400px;
overflow-y: auto;	
}
#output p{
    font-size: 15px;
    }
    #output p:nth-child(even) {
    background-color: #f2f2f2;
    }
    #feedback p{
    font-size: 13px;
    }
    #output strong{
    color: #0085ad;
    }		
    
    input {
        font-family: 'Poppins';
        padding: 10px 20px;
        border: 0;
        border-top: 1px solid #ccc;
        display: block;
        width: 100%;
        font-size: 15px;
    }
        button{
        font-family: 'Poppins';
        background-color: #30db7d;
        color: #fff;
        border: 0;
        border-radius: 0 0 5px 5px;
        width: 100%;
        padding: 12px 0px;
        font-size: 17px;
    }
#chat_alan{
    float: right;
    height: auto;
    padding-bottom: 20px;
    padding-right: 30px;
}

#logo {
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }

  #thunderchat{
    font-family: monospace;
  }

