  <div class="row">
    <div class="col-sm-4" style="padding-left: 20px; background-color:rgb(192, 192, 238);">
      <!-- Online Kullanıcı EJS LOOP İLE ALINACAK -->      
      <h3>Kullanıcılar (online kişiler)</h3>
      <small id="total_user"></small>
      <hr>
      <div id="users">
        <blockquote>
          Kullanıcı 1<br>
          Kullanıcı 2
        </blockquote>
      </div>
    </div>
    <div id="chat_alan" class="col-sm-8" style="background-color:gray;">
      <div id="chat-window">
        <div id="output"></div>
        <span id="yazi_yazan"></span>
      </div>
      <div class="col-sm-12" style="background-color:lavender;"><input type="text" id="sender" placeholder="Ad"></div>
      <div class="col-sm-12" style="background-color:lavenderblush;"><input type="text" id="message"
          placeholder="Mesaj"></div>
      <div class="col-sm-12" style="background-color:lavender;"><button onclick="gonder()">Gönder</button></div>
    </div>
  </div>
  </div>
  