<!doctype html>
<html lang="en">
    <%- include('layouts/header') %>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
   <%- include('layouts/script') %>
  <body>
   <%- include('layouts/banner') %>

    <%- body %>
</body>
<script src='../chat.js'></script>
<!-- FOOTER EJS-->
</html>